*.pyc
# vim swap files
.*.sw?
.sw?
# vscode settings directory
.vscode
#OS X specific files.
.DS_store
*.p4i
*.log
*.pcap
pcap
log
training_files/
data/
sync_results*
topology.json
.active_topology
int_md.json